
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.main {
  padding: 0;
  width: 60%;
  height: 100%;
}

.main h1 {
  text-align: center;
  color: #444;
}

.book-list {
  padding: 0;
}

.book-list li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #444;
}

.add-book {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background-color: #fff;
}

.add-book .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.field label {
  text-align: right;
  padding: 7px;
}

.field input,
.field select {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.add-book button {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 5px 15px;
  color: #fff;
  background-color: #444;
  font-size: 2em;
  transform: translateY(-50%);
}

.book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding: 30px;
  color: #fff;
  background-color: #444;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3);
}